In [1]:
import pandas as pd

In [3]:
import numpy as np 
import math 
import re

In [4]:
students_classes = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'}
s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [6]:

s.iloc[3]

'History'

In [7]:
s.loc['Molly']

'English'

In [8]:
s[3]

'History'

In [9]:
s['Molly']

'English'

In [10]:
class_code = {99: 'Physics',
              100: 'Chemistry',
              101: 'English',
              102: 'History'}
s = pd.Series(class_code)

In [11]:
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [12]:
grades = pd.Series([90, 80, 70, 60])

total = 0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [13]:
import numpy as np

total = np.sum(grades)
print(total/len(grades))

75.0

In [14]:
numbers = pd.Series(np.random.randint(0,1000,10000))

numbers.head()

0    672
1    701
2    587
3    339
4    415
dtype: int32

In [15]:
%%timeit -n 100
total = 0
for number in numbers:
    total+=number

total/len(numbers)

1.23 ms ± 107 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)