In [1]:
import pandas as pd

In [3]:
import numpy as np 
import math 
import re

In [4]:
students_classes = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'}
s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [6]:

s.iloc[3]

'History'

In [7]:
s.loc['Molly']

'English'

In [8]:
s[3]

'History'

In [9]:
s['Molly']

'English'

In [10]:
class_code = {99: 'Physics',
              100: 'Chemistry',
              101: 'English',
              102: 'History'}
s = pd.Series(class_code)

In [11]:
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [12]:
grades = pd.Series([90, 80, 70, 60])

total = 0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [13]:
import numpy as np

total = np.sum(grades)
print(total/len(grades))

75.0

In [14]:
numbers = pd.Series(np.random.randint(0,1000,10000))

numbers.head()

0    672
1    701
2    587
3    339
4    415
dtype: int32

In [15]:
%%timeit -n 100
total = 0
for number in numbers:
    total+=number

total/len(numbers)

1.23 ms ± 107 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [16]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

79.9 µs ± 13.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [17]:
numbers.head()

0    672
1    701
2    587
3    339
4    415
dtype: int32

In [18]:
numbers+=2
numbers.head()

0    674
1    703
2    589
3    341
4    417
dtype: int32

In [22]:
for label in numbers:
    numbers.at(label, value+2)
numbers.head()

TypeError: '_AtIndexer' object is not callable

In [23]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))
for label, value in s.iteritems():
    s.loc[label]= value+2

42.2 ms ± 4.62 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [24]:
students_classes = pd.Series({'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'})
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [25]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [26]:
all_students_classes = students_classes.append(kelly_classes)
all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [27]:
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [28]:
all_students_classes.loc['Kelly']

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object